{% extends "SneakerCards/logged_template.html" %}
{% block userContent %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <div class="index_about_text_container">
        <div class="index_about_text">
            <p> This site was built for the purpose of a final project in a College class.</p>
            <p> The class 'Development for the internet e mobile applications' teaches mainly DJANGO an REACT
                which were applied here.</p>
            <p> All site was built in DJANGO and the memory game in REACT.</p>
            <br>
            <ul>
                <li>94514 - Bruno Carvalheiro</li>
                <li>94587 - Nuno Monteiro</li>
                <li>98494 - Carolina Roque</li>
            </ul>

        </div>
    </div>

{% endblock userContent %}