{% extends "SneakerCards/logged_template.html" %}
{% block userContent %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <div class="about_title">
    <p>About us</p>
    <div class="about">
        <fieldset>
            <p>Our website gives you the possibility to collect cards.</p>
            <p>But not just any cards!</p>
            <p>We give you the possibility to exchange game cards with other existing users, as well as buying and selling them.</p>
            <p>Around 36 cards are currently available.</p>
            <p>On our website:</p>
            <p>Users/Players/Collectors: buy “Boosters” (set of several random cards) and can later make posts requesting exchange of cards.</p>
        </fieldset>
    </div>
    </div>
{% endblock userContent %}
