{%  extends 'SneakerCards/logged_template.html' %}
{% block userContent %}
    <h1>Dashboard</h1>
    {% if user.is_authenticated %}
        {%csrf_token%}
        <fieldset>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" value="{{ user.username }}" disabled><br>
            <label for="full_name">Nome completo:</label><br>
            <input type="text" id="full_name" name="full_name" value="{{ user.collector.full_name }}" disabled><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" value="{{ user.email }}" disabled><br>
        </fieldset>
    {% else %}
        <strong><h1>Something wrong, not logged</h1></strong>
    {% endif %}
{% endblock userContent %}
