{% extends "SneakerCards/logged_template.html" %}
{% block userContent %}
  {% load static %}
  <div class="deck-grid-container">
    {% for deck in decks %}
        <a href="{% url 'SneakerCards:view_deck' deck.id deck.collector.id %}">
            <span class="deck-grid-item">{{ deck.name }}</span>
        </a>
    {% empty %}
      <div class="deck-grid-item">No decks</div>
    {% endfor %}
  </div>
  <form id="add-item-form" method="POST" action="{% url 'SneakerCards:update_deck' %}">
    {% csrf_token %}
      <br>
      <label for="deck_name">Deck name:</label>
      <textarea id="deck_name" name="deck_name" style="resize: none; height: 25px;"></textarea><br>
      <button type="submit" id="add-item-btn">Add item</button>
  </form>
{% endblock userContent %}
