{% extends "SneakerCards/logged_template.html" %}
{% block userContent %}
  {% load static %}
    {% for deck in decks %}
        <div class="deck-grid-container">
            <figure>
             <a href="{% url 'SneakerCards:view_deck' deck.collector.id deck.id %}">
                <img src="{% static 'SneakerCards/images/background.png' %}" width="150px" alt="deck-image">
                <figcaption>{{ deck.name}}</figcaption>
             </a>
        </figure>
        </div>
    {% empty %}
        <img src="{% static 'SneakerCards/images/background.png' %}" width="150px" alt="deck-image">
        <span>No decks yet</span>
    {% endfor %}
  <form id="add-item-form" method="POST" action="{% url 'SneakerCards:update_deck' %}">
    {% csrf_token %}
      <br>
      <label for="deck_name">Deck name:</label>
      <textarea id="deck_name" name="deck_name" style="resize: none; height: 25px;"></textarea><br>
      <button type="submit" id="add-item-btn">Add item</button>
  </form>
{% endblock userContent %}
