<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SneakerCard Collectors Maven</title>
        {% load static %}
        {% block head %}
        {% endblock head %}
        <link rel="stylesheet" href="{% static 'SneakerCards/css/main.css' %}">
    </head>

        <div class="grid">
        <header class="page-header">
            
                <p>Header</p>
            
        </header>

        <nav class="page-leftbar">
            {% csrf_token %}

          <form method="get" action="{% url 'SneakerCards:index' %}">
            <button type="submit" class="menu-button">Home</button>
          </form>
          <form method="get" action="{% url 'SneakerCards:about' %}">
            <button type="submit" class="menu-button">About</button>
          </form>
            {% if user.is_authenticated %}
                <form method="get" action="{% url 'SneakerCards:dashboard' %}">
                    <button type="submit" class="menu-button">Dashboard</button>
                 </form>
                <form method="get" action="{% url 'SneakerCards:view_cards' %}">
                    <button type="submit" class="menu-button">SneakerDex</button>
                </form>
                <form method="get" action="{% url 'SneakerCards:logout' %}">
                    <button type="submit" class="menu-button">Logout</button>
                </form>
            {% else %}
                <form method="get" action="{% url 'SneakerCards:register' %}">
                    <button type="submit" class="menu-button">Register</button>
                </form>
                <form method="get" action="{% url 'SneakerCards:login' %}">
                     <button type="submit" class="menu-button">Login</button>
                </form>
            {% endif %}
        </nav>
        <main class="page-main">
                {% block content %}
                {% endblock %}
        </main>

        <footer class="page-footer">
            <div class="content">
                <p>Footer</p>
            </div>
        </footer>

    </div>



</html>




