<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SneakerCard Collectors Maven</title>
    {% load static %}
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" href="{% static 'SneakerCards/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.cdnfonts.com/css/lucida-handwriting-std" rel="stylesheet">

</head>
<div class="grid">
    <header class="page-header">
    </header>

    <nav name="page-leftbar" id="page-leftbar">
        {% csrf_token %}
        <form method="get" action="{% url 'SneakerCards:index' %}">
            <button name="Home" type="submit" class="btn">Home</button>
        </form>
        <form method="get" action="{% url 'SneakerCards:about' %}">
            <button name="About" type="submit" class="btn">About</button>
        </form>
        {% if user.is_authenticated %}
            <form method="get" action="{% url 'SneakerCards:dashboard' %}">
                <button name="Dashboard" type="submit" class="btn">Dashboard</button>
            </form>
            <form method="get" action="{% url 'SneakerCards:view_cards' %}">
                <button name="SneakerDex" type="submit" class="btn">SneakerDex</button>
            </form>
            <form method="get" action="{% url 'SneakerCards:logout' %}">
                <button name="Logout" type="submit" class="btn">Logout</button>
            </form>
        {% else %}
            <form method="get" action="{% url 'SneakerCards:register' %}">
                <button name="Register" type="submit" class="btn">Register</button>
            </form>
            <form method="get" action="{% url 'SneakerCards:login' %}">
                <button name="Login" type="submit" class="btn">Login</button>
            </form>

        {% endif %}
        <script src="{% static 'SneakerCards/js/button.js' %}"></script>
    </nav>


    <main class="page-main">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="footer_container">
            <div class="content_footer">
                <p>Our contacts:</p>
                <p>E-mail: sneakers_cards@cards.pt</p>
                <p>Número de Telemóvel: +315 966666666</p>
            </div>
            <div class="social-icons">
                <a href="https://www.instagram.com/seu_perfil_instagram" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/seu_perfil_facebook" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.twitter.com/seu_perfil_twitter" target="_blank"><i class="fab fa-twitter"></i></a>

            </div>
        </div>
    </footer>
</div>


</html>




